.panel-default > .panel-heading {
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background-color: #fff;
    border-color: #ddd;
}

.panel-text {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
}

@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

.next-button {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  background: #14954A;
  border: none;
  border-radius: 0;
  width: 100%;
  margin-top: 20px;
  margin-right: 40px;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: uppercase;
  float: right;
  margin: 0;
}

.next-button:hover {
  color: #fff;
  background-color: #11803f;
  border: none;
}

.inactive {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

#single-button {
  color: #333;
  background-color: #fff;
  margin-left: 50%;
}

.btn-group {
  margin-right: 20%;
  float: right;
}
