.row {
  margin: 0;
}

.logo {
  height: 20px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 35px;
}

.navbar-default {
  background-color: #fff;
  border: 0;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #c6cad2;
}

.navbar-nav > li > a {
  line-height: 5px;
  padding-left: 7px;
  padding-right: 7px;

  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-secondary {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background-color: #fff;
  position: relative;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #333;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
}

.navbar-default .navbar-nav > li > p {
    color: #333;
}

.nav-secondary-items {
  display: inline-block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0;
}
.navbar-right {
  float: right !important;
  margin-right: 5px;
  display: flex;
}

.navbar-left {
  float: left !important;
  margin-right: 5px;
  display: flex;
}

.title-secondary {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  line-height: 35px;
}

@media screen and (max-width: 880px){
  .desktop-nav {
    display: none;
  }
}

@media screen and (min-width: 880px){
  .mobile-nav {
    display: none;
  }
}

@media screen and (min-width: 992px){
  .title-secondary {
    text-align: center;
  }
}

@media screen and (max-width: 991px){
  .title-secondary {
    display: none;
  }
}
