<div class="navbar navbar-default navbar-static-top">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="/" class="desktop-nav"><img class="pull-left logo" src="/assets/images/logo_txt_black_2x.png" alt="Home"></a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" align="center">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>
  <div class="row nav-secondary">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    </div>
    <div class="title-secondary col-xs-0 col-sm-0 col-md-6 col-lg-6">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a>Hello {{ $ctrl.getCurrentUser().name }}</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings" class="glyphicon glyphicon-cog"></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
